---
import Container from '$/components/Container.astro'
import Logo from '$/icons/Logo.tsx'
const { pathname } = Astro.request.url
const menuItem = (label: string, url: string, active: boolean) => (
  `<li role="menuitem">
    <a href=${url} class="text-xl animate-left py-1 border-b-2 ${active ? 'border-black' : 'border-transparent'}">${label}</a>
  </li>`
)
---

<nav class="bg-white py-4 px-4">
  <Container>
    <ul class="flex items-center space-x-8" role="menubar">
      <a href="/"><Logo height="42" /></a>
      {menuItem('Etusivu', '/', pathname === '/')}
      {menuItem('Blogi', '/blogi', pathname.startsWith('/blogi'))}
    </ul>
  </Container>
</nav>
