---
import BaseLayout from '../layouts/BaseLayout.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'Example Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = 'https://example.com/';
---
<BaseLayout title={title} description={description} permalink={permalink}>
  <section class="prose">
    <a href="/blogi/2021/11/example">See broken component here</a>
  </section>
</BaseLayout>
